<div class="center-container">
  <h1 class="box-light-color title">String hashing</h1>
  <input
    type="text"
    class="textbox"
    placeholder="Type in text..."
    maxlength="30"
    [(ngModel)]="textInput"
    (keydown.enter)="enterKeyPressed($event)"
  />
  <form [formGroup]="algorithmsForm">
    <label for="algorithm">Algorithm: {{ currentHashAlg$ | async }}</label>
    <select
      name="algorithm"
      id="algorithm"
      formControlName="selectedAlgorithm"
      (change)="onAlgorithmChange()"
    >
      <option
        *ngFor="let algorithm of this.hashAlgorithmOptions"
        [value]="algorithm"
      >
        {{ algorithm }}
      </option>
    </select>
  </form>

  <div class="hash-heading"><span>String</span><span>Hash of string</span></div>

  <div class="list-of-hashes">
    <div *ngFor="let item of listOfHashes" class="hash">
      <span>{{ item.input }}</span
      ><span>{{ item.hashOfInput }}</span>
    </div>
  </div>
</div>
