@import "styles.scss";

.center-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hash-heading {
  width: 60%;
  color: $box-light;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 1%;
  //   background-color: red;
  text-align: center;
}

.textbox {
  width: 40%;
  height: 20%;
  background-color: $box-light;
  padding-left: 60px;

  font-size: 40px;
  border-radius: 80px;
}

input.textbox {
  border: none;
  outline: none;

  //   &:focus {
  //     // background-color: blue;
  //     border: 3px black;
  //   }w

  &::placeholder {
    color: $background;
  }
}

.list-of-hashes {
  width: 60%;
  height: 30%;
  border-radius: 20px;
  background-color: $box-dark;
  overflow-y: scroll;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.hash {
  white-space: nowrap;
  font-size: large;
  color: $background-dark;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  text-align: center;

  > * {
    padding: 0 12px;
  }

  //add border separator between string and hash
  > :first-child {
    border-right: 2px solid $background-dark;
  }
}
