@import "styles.scss";

.center-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox {
  width: 40%;
  height: 20%;
  background-color: rgb(148, 151, 144);
  padding-left: 60px;

  font-size: 40px;
  border-radius: 80px;
}

input.textbox {
  border: none;
  outline: none;

  //   &:focus {
  //     // background-color: blue;
  //     border: 3px black;
  //   }w
}

.list-of-hashes {
  width: 40%;
  height: 20%;
  margin-top: 5%;
  border-radius: 20px;
  background-color: rgb(77, 77, 77);
  padding: 8px;
  overflow-y: scroll;
  text-align: center;
}

.hash {
  font-size: medium;
}
